<div class="panel panel-default">
	<div class="panel-heading">
		<h4 class="panel-title">{{ post.title }}</h4>
	</div>
	{% if post.featured_image %}
		<img class="img-responsive featured-image" src="{{ post.featured_image }}" alt="{{ post.title }}"/>
	{% endif %}
	<div class="panel-body">
		{% if post.excerpt %}
			{{ post.excerpt|raw }}
		{% else %}
			{{ post.content|raw }}
		{% endif %}
	</div>
</div>
